// bower:scss
@import "components-font-awesome/scss/font-awesome.scss";
// endbower

md-toolbar {
    transition-property: background-color, fill, color, margin !important;
    -webkit-transition-property: background-color, fill, color, margin !important;
    margin-top: 0 !important;
}

md-toolbar.ng-hide:not(.ng-hide-animate) {
    margin-top: -100px !important;
    display: flex !important;
}

.login-container {
    background-color: white;

    md-input-container {
        margin: 0;
    }

    md-input-container:first-child {
        margin-top: 20px;
    }
}

.no-padding {
    padding: 0 !important;
}

md-progress-circular.central {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    z-index: 9999 !important;
}

h2.cardHeader {
    margin: 0;
}

div.drop-box { /* TODO: Sarebbe da adattare per il tema dark, ma per ora non lo uso per admin/professori */
    background: #f5f5f5;
    border: 5px dashed #ccc;
    width: 27%;
    text-align: center;
    padding: 50px 10px;
    margin-left: 10px;

    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;

    &:first-child {
        margin-left: 0;
    }

    &.dragover {
        background-color: #fbfbfb;
    }

    .filename {
        font-size: 0.74em;
        font-style: italic;
    }

    &[disabled="disabled"] {
        background: #fbfbfb;
        cursor: no-drop;
    }
}

.sidenav-small-title {
    font-size: 0.84em;
}

.sidenav-content {
    height: initial;
    min-height: initial;
}
