<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Correttore</title>
    <meta name="description" content="Correttore Frontend">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="frontendStableApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div layout="column" style="height: 100%;" ng-app="frontendStableApp" ng-cloak>
    <section layout="row" flex="" ng-controller="SidenavCtrl">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md') && !closed">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Correttore</h1>
            </md-toolbar>
            <md-content layout-fill>
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="entry in menuEntries" ng-if="display(entry)"
                                  ng-style="{'border-top': $first ? '1px solid #e1e1e1' : '', 'border-bottom': $last ? '' : '1px solid #e1e1e1'}"
                                  ng-click="handleClick(entry, $event)">
                        <md-icon md-font-icon="fa-{{entry.icon}}" class="fa"
                                 style="font-size: 38px;"></md-icon>
                        <div class="md-list-item-text">
                            <h3>{{entry.title}}</h3>
                            <p>{{entry.description}}</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-content>
        </md-sidenav>

        <md-content flex style="position: relative;">
            <md-toolbar class="md-theme-indigo" style="position: initial;" ng-controller="ToolbarCtrl" ng-hide="hide">
                <h1 class="md-toolbar-tools">
                    <md-button hide-gt-md class="md-icon-button" style="font-size: 21px; margin-right: 2px;"
                               ng-click="openSidenav()"
                               aria-label="Open Sidenav">
                        <md-icon md-font-icon="fa-bars" class="fa"></md-icon>
                    </md-button>
                </h1>
                <md-progress-circular md-mode="indeterminate" class="central" ng-if="loading"></md-progress-circular>
            </md-toolbar>
            <div style="position: relative;" ng-view layout-padding></div>
        </md-content>
    </section>
</div>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/providers/config.js"></script>
<script src="scripts/directives/filemodel.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/sidenav.js"></script>
<script src="scripts/controllers/toolbar.js"></script>
<script src="scripts/controllers/dialog.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/teachers.js"></script>
<script src="scripts/controllers/groups.js"></script>
<script src="scripts/services/resourcesgenerator.js"></script>
<script src="scripts/services/auth.js"></script>
<script src="scripts/services/teachers.js"></script>
<script src="scripts/services/tasks.js"></script>
<script src="scripts/services/groups.js"></script>
<script src="scripts/filters/roleformatter.js"></script>
<!-- endbuild -->
</body>
</html>
