<md-dialog aria-label="About Us">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>About Us</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon md-font-icon="fa-close" style="font-size: 20px;" class="fa"
                             aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2 style="margin-top: 0;">very swag. so text. very word, rate me, many lorem.</h2>
                <p>
                    such word. rate me! much layout. i can haz doge, wow! need lorem. need dolor, very word, much ipsum,
                    wow! such swag. go full. need dolor, wow! such word. txt me. very word, such swag. many word, much
                    lorem.
                </p>

                <h5>Versione: {{clientVersion}}</h5>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
