<md-dialog aria-label="About Us" md-theme="{{rootScope.theme}}" style="width: 70%;">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>About Us</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon md-font-icon="fa-close" style="font-size: 20px;" class="fa"
                             aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2 style="margin-top: 0;">Correttore</h2>

                <h3 style="margin-bottom: 3px;">Lo sapevi che...</h3>
                <div class="tips-container" ng-class="{'dark': darkTheme}">
                    <p>
                        {{tip.value}}
                    </p>
                </div>
                <div layout="row" layout-align="end center">
                    <md-button class="md-primary md-raised" ng-click="next()" style="margin-right: 0;">Prossimo
                    </md-button>
                </div>

                <h5>Versione: {{clientVersion}}</h5>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
