<md-card layout-fill class="no-padding" ng-if="!teacherId && !loading">
    <md-button class="md-primary md-raised" ng-click="$location.path('/teachers/new')">Aggiungi Docente</md-button>
    <md-list class="no-padding">
        <md-list-item class="md-2-line" ng-repeat="teacher in teachers" ng-click="openTeacher(teacher.id)">
            <md-icon md-font-icon="fa-graduation-cap" class="fa"
                     style="font-size: 38px;"></md-icon>
            <div class="md-list-item-text">
                <h3>{{teacher.name}} {{teacher.surname}}</h3>
                <p>{{teacher.username}}</p>
            </div>
            <md-button class="md-secondary md-icon-button md-raised"
                       ng-click="deleteTeacher(teacher.id, $index, $event)" aria-label="call">
                <md-icon md-font-icon="fa-trash" class="fa"
                         style="font-size: 25px;"></md-icon>
            </md-button>
        </md-list-item>
    </md-list>
</md-card>

<md-card layout-padding ng-if="teacherId && !loading">
    <h2 class="cardHeader">{{teacherId == 'new' ? 'Aggiungi' : 'Modifica'}} Docente</h2>
    <md-content style="background-color: white;">
        <div>
            <form name="teacherForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Nome</label>
                        <input ng-model="user.name" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Cognome</label>
                        <input ng-model="user.surname" required>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Username</label>
                        <input ng-model="user.username" required>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Password</label>
                        <input ng-model="user.password" type="password">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Conferma Password</label>
                        <input ng-model="user.password2" type="password">
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>
    <md-content layout="row" layout-align="end center" style="background-color: white;">
        <md-button class="md-primary md-raised"
                   ng-disabled="teacherForm.$invalid || user.password != user.password2 || (teacherId == 'new' && user.password.length == 0)"
                   ng-click="save()">Salva
        </md-button>
    </md-content>
</md-card>

