<md-card layout-fill class="no-padding" ng-if="!testId && !loading">
    <md-button class="md-primary md-raised" ng-click="$location.path('/tests/new')">Aggiungi Verifica
    </md-button>
    <md-list class="no-padding">
        <md-list-item class="md-2-line" ng-repeat="verifica in tests" ng-click="openTest(verifica.id)">
            <md-icon md-font-icon="fa-graduation-cap" class="fa"
                     style="font-size: 38px;"></md-icon>
            <md-icon ng-if="verifica.is_on == '1'" md-font-icon="fa-check-circle" class="fa check-over-icon"></md-icon>
            <div class="md-list-item-text">
                <h3>{{verifica.description}}</h3>
                <p>
                    <md-progress-circular ng-if="verifica.loadingResults"
                                          class="loading-description"></md-progress-circular>
                    <span ng-if="!verifica.loadingResults">
                        {{verifica.results.length}} alunn{{verifica.results.length == 1 ? 'o' : 'i'}} ha{{verifica.results.length != 1 ? 'nno' : ''}} sottomesso una soluzione</span>
                </p>
            </div>
            <md-button class="md-secondary md-icon-button md-raised"
                       ng-click="deleteTest(verifica.id, $index, $event)" aria-label="call">
                <md-icon md-font-icon="fa-trash" class="fa"
                         style="font-size: 25px;"></md-icon>
            </md-button>
        </md-list-item>
    </md-list>
</md-card>

<md-card layout-padding ng-if="testId && !loading">
    <h2 class="cardHeader">{{testId == 'new' ? 'Aggiungi' : 'Modifica'}} Verifica</h2>
    <md-content style="background-color: white;">
        <div>
            <form name="testForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Descrizione</label>
                        <input ng-model="test.description" required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <md-checkbox ng-model="test.is_on" ng-disabled="testId == 'new'" ng-true-value="'1'"
                                     ng-false-value="'0'"
                                     aria-label="Is Active" style="margin: auto;">
                            Verifica Attiva
                        </md-checkbox>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-chips ng-model="ctrl.testTasks" md-autocomplete-snap
                                  md-transform-chip="transformChip($chip)"
                                  md-require-match="true">
                            <md-autocomplete
                                ng-disabled="testId == 'new'"
                                md-selected-item="selectedItem"
                                md-search-text="searchText"
                                md-items="item in querySearch(searchText)"
                                md-item-text="item.title"
                                md-min-length="0"
                                placeholder="Aggiungi dei problemi">
                                <span md-highlight-text="searchText">{{item.title}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{$chip.title}}</strong>
                                    <!-- <em>({{$chip.category}})</em> TODO: si potrebbe aggiungere la categoria alla chiamata della lista dei tasks-->
                                </span>
                            </md-chip-template>
                        </md-chips>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>
    <md-content layout="row" layout-align="end center" style="background-color: white;">
        <md-button class="md-primary md-raised"
                   style="margin-right: 0;"
                   ng-disabled="testForm.$invalid"
                   ng-click="save()">Salva
        </md-button>
    </md-content>
</md-card>

<md-card layout-padding ng-if="testId && !loading && testId != 'new'" style="padding: 0;">
    <md-progress-linear md-mode="{{loadingResults ? 'query' : 'determinate'}}" value="{{loadingTicks}}"
                        ng-if="test.is_on == '1'"
                        style="padding: 0;"></md-progress-linear>

    <div layout="row" layout-align="space-between center">
        <h2 class="cardHeader" style="margin-left: 8px;">Risultati</h2>

        <div>
            <md-button class="md-primary md-raised" style="margin-right: 0;"
                       ng-disabled="loadingResults || test.is_on != '1'"
                       ng-click="loadResults()">Ricarica
            </md-button>

            <md-button class="md-primary md-raised"
                       aria-label="Scarica CSV"
                       ng-click="downloadCSV()">
                <md-progress-circular
                    ng-if="loadingCSV"
                    class="md-warn"
                    md-mode="indeterminate"
                    md-diameter="20px"
                    style="margin: auto;"
                ></md-progress-circular>
                <span ng-if="!loadingCSV">Scarica CSV</span>
            </md-button>
        </div>
    </div>
    <md-content style="background-color: white; padding: 0;">
        <md-list class="no-padding">
            <md-list-item class="md-2-line" ng-repeat="studente in risultati"
                          ng-click="openRisultatiStudente(studente.ID, testId, studente.result, studente.surname + ' ' + studente.name, $event)">
                <md-icon md-font-icon="fa-file-code-o" class="fa"
                         style="font-size: 38px;"></md-icon>
                <md-icon ng-if="studente.result == 100" md-font-icon="fa-check-circle-o"
                         class="fa check-over-icon"></md-icon> <!-- Il punteggio massimo dovrebbe essere 100 -->
                <div class="md-list-item-text">
                    <h3>{{studente.surname}} {{studente.name}} (<span class="monospace">{{studente.username}}</span>)
                    </h3>
                    <p>
                        Punteggio: {{studente.result | number: 2}}
                    </p>
                </div>
            </md-list-item>
        </md-list>

        <div ng-if="risultati.length == 0" style="text-align: center; padding: 30px 0; margin-bottom: 10px;">Nessuno
            studente ha sottomesso
            una soluzione
        </div>

        <a id="fileDownload" href="#" style="display: none"></a>
    </md-content>
</md-card>
